*.egg
*.egg-info
__pycache__
*.js
!jest.config.js
*.d.ts
node_modules
!source/.typescript/lambda/**/*.js
!source/lambda/**/*.js

# CDK asset staging directory
.cdk.staging
cdk.out

!**/cdk-solution-helper/index.js

deployment/global-s3-assets
deployment/regional-s3-assets
open-source/
.vscode/settings.json

source/lambda/layers/*

# Coverage directory used by tools like istanbul
coverage-reports/
coverage
*.lcov

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# linting, scanning configurations, sonarqube
.scannerwork/

.DS_Store

# Temporary folders
tmp/
temp/

### VisualStudioCode Path ###
.vscode
