aws-cdk.assets==1.70.0
aws-cdk.aws-apigateway==1.70.0
aws-cdk.aws-cloudformation==1.70.0
aws-cdk.aws-cloudwatch==1.70.0
aws-cdk.aws-codebuild==1.70.0
aws-cdk.aws-codecommit==1.70.0
aws-cdk.aws-codedeploy==1.70.0
aws-cdk.aws-codepipeline==1.70.0
aws-cdk.aws-codepipeline-actions==1.70.0
aws-cdk.core==1.70.0
aws-cdk.aws-ecr==1.70.0
aws-cdk.aws-ecr-assets==1.70.0
aws-cdk.aws-events==1.70.0
aws-cdk.aws-events-targets==1.70.0
aws-cdk.aws-iam==1.70.0
aws-cdk.aws-kms==1.70.0
aws-cdk.aws-lambda==1.70.0
aws-cdk.aws-lambda-event-sources==1.70.0
aws-cdk.aws-logs==1.70.0
aws-cdk.aws-s3==1.70.0
aws-cdk.aws-s3-assets==1.70.0
aws-cdk.aws-s3-deployment==1.70.0
aws-cdk.aws-s3-notifications==1.70.0
aws-cdk.aws-sagemaker==1.70.0
aws-cdk.aws-sns==1.70.0
aws-cdk.aws-sns-subscriptions==1.70.0
aws-cdk.core==1.70.0
aws-cdk.custom-resources==1.70.0
aws-cdk.region-info==1.70.0
aws-solutions-constructs.aws-apigateway-lambda==1.70.0
aws-solutions-constructs.core==1.70.0

