aws-cdk.assets==1.126.0
aws-cdk.aws-apigateway==1.126.0
aws-cdk.aws-cloudformation==1.126.0
aws-cdk.aws-cloudwatch==1.126.0
aws-cdk.aws-codebuild==1.126.0
aws-cdk.aws-codecommit==1.126.0
aws-cdk.aws-codedeploy==1.126.0
aws-cdk.aws-codepipeline==1.126.0
aws-cdk.aws-codepipeline-actions==1.126.0
aws-cdk.core==1.126.0
aws-cdk.aws-ecr==1.126.0
aws-cdk.aws-ecr-assets==1.126.0
aws-cdk.aws-events==1.126.0
aws-cdk.aws-events-targets==1.126.0
aws-cdk.aws-iam==1.126.0
aws-cdk.aws-kms==1.126.0
aws-cdk.aws-lambda==1.126.0
aws-cdk.aws-lambda-event-sources==1.126.0
aws-cdk.aws-logs==1.126.0
aws-cdk.aws-s3==1.126.0
aws-cdk.aws-s3-assets==1.126.0
aws-cdk.aws-s3-deployment==1.126.0
aws-cdk.aws-s3-notifications==1.126.0
aws-cdk.aws-sagemaker==1.126.0
aws-cdk.aws-sns==1.126.0
aws-cdk.aws-sns-subscriptions==1.126.0
aws-cdk.core==1.126.0
aws-cdk.custom-resources==1.126.0
aws-cdk.region-info==1.126.0
aws-solutions-constructs.aws-apigateway-lambda==1.126.0
aws-solutions-constructs.aws-lambda-sagemakerendpoint==1.126.0
aws-solutions-constructs.core==1.126.0
aws-cdk.cloudformation-include==1.126.0
aws-cdk.aws-cloudformation==1.126.0